.myBody {
  width: 85%;
  min-height: 550px;
  margin: 0 auto;
  padding-top: 0;
  background-color: #eeeeee;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyAccount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.bodyRight {
  width: 100%;
  background-color: #EEEEEE;
}

.userAvatar {
  height: 4rem;
  line-height: 4rem;
  padding-right: .5rem;
  float: right;
}

.showMenu {
  display: none;
}

.avatar {
  height: 4rem;
  line-height: 4rem;
  position: relative;
}

.avatar img {
  border-radius: 50%;
  margin-left: .5rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.avatar i:hover {
  cursor: pointer;
}

.userName {
  position: relative;
  margin-right: .5rem;
  display: inline-block;
  color: #A6A6A6;
}

.userName .userName__thumb {
  float: right;
}

.userName .thumb__editAccount {
  position: fixed;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
  right: .5rem;
  -webkit-transform: translate(0, 55%);
          transform: translate(0, 55%);
  padding: .5rem;
  display: none;
  visibility: hidden;
  z-index: 999;
  height: 6rem;
  line-height: 2.5rem;
  background-color: #fff;
  color: #979797;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.userName .thumb__editAccount a {
  text-decoration: none;
  color: #A6A6A6;
  text-align: left;
}

.userName .thumb__editAccount a p {
  border-radius: .2rem;
  padding: 0 .5rem;
}

.userName .thumb__editAccount a:hover p {
  background-color: #9228AC;
  color: #fff;
}

.userName .thumb__editPassword:hover {
  background-color: #fff;
}

.userName:hover .thumb__editAccount {
  display: block;
  visibility: visible;
}

.userName:hover .thumb__editPassword {
  z-index: 999;
  display: block;
  visibility: visible;
}

.userName i {
  font-size: 1rem;
}

.topNav {
  background-color: #EEEEEE;
  color: #555 !important;
}

.titleBody {
  display: inline-block;
}

.quaylai {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
}

@media only screen and (min-device-width: 1024px) {
  .showMenu {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) {
  .bodyRight {
    width: 100%;
  }
  .userAvatar {
    height: 4rem;
    line-height: 4rem;
    float: right;
    margin-right: 0;
    padding-right: 0;
  }
  .userName {
    margin-right: 1rem;
    display: inline-block;
    color: #A6A6A6;
  }
  .userName i {
    height: 4rem;
    line-height: 4rem;
  }
  .topNav {
    position: relative;
    width: 100%;
    text-align: left;
  }
  .showMenu {
    display: block;
    float: right;
    margin-right: 0;
    padding: 0 1rem;
    height: 4rem;
    line-height: 4rem;
    color: purple;
  }
  .showMenu:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=body.css.map */