$colorBtn : #9026AB;
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .totalCost__container {
    .totalCost {
      width: 80%;
      border: solid 2px #E5E5E5; 
      text-align: center;
      background-color: #Fff;
      display: flex;
      justify-content: space-between;
      .totalCost__number {
        height: 6rem;
        line-height: 6rem;
        font-weight: bold;
        font-size: 1.25rem;
        margin-right: 2rem;
      }
      .totalCost__text {
        margin-left: 1rem;
        height: 6rem;
        line-height: 6rem;
        font-weight: bold;
        font-size: 1.25rem;
      }
    }
    .totalCost__button {
      margin: 1rem auto 0;
      border-radius: none !important;
      width: 80%;
      a {
        width: 100%;
        border-radius: none !important;
        text-transform: uppercase;
        .dathang {
          border-radius: 0 !important;
        }
      }
    }
    .payment {
      width: 80%;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      .paymentItem {
        width: 19%;
        height: 2rem;
        margin-right: .25rem;
        background-color: #F9F4F4;
        img {
          height: 2rem;
          object-fit: contain;
          margin: 0 auto;
        }
      }
    }
  }
  table {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    table-layout: fixed;
    text-align: center;
    margin: 3rem 2rem 0;
    display: inline-table;
    img {
      width: 150px;
      height: 100px;
      margin: auto;
    }
    th {
      font-size: 18px;
      font-weight: 600;
      border-bottom: none !important;
    }
    thead {
      background-color: $colorBtn;
      display: table-header-group;
      color: #fff;
    }
    tbody {
      background-color: #fff;
    }
    tr {
      display: flex;
      width: 100%;
    }
    td, th {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__table {
    &__number {
      width: 12rem;
      input {
        border: solid 1px #ccc;
        margin-right: .25rem;
        border-radius: .25rem;
        width: 4rem;
        font-size: 1rem;
        text-align: center;
        height: 2rem;
      }
      input:focus {
        outline: none !important;
        border: solid 1px #000;
      }
      button{
        width: 2rem;
        height: 2rem;
        margin-right: .25rem;
        font-size: 1rem;
        font-weight: normal;
        border: solid 1px #ccc;
        &:hover {
          background-color: rgb(216, 215, 215);
        }
      }
      &--increment {
        border-radius: .25rem;
        
      }
      &--decrement {
        border-radius: .25rem;
      }
    }
    &--name {
    }
    &--price {
      font-weight: 600;
    }
    &--delete {
      margin-top: 1rem;
      i {
        font-size: 100%;
      }
      a span {
        text-decoration: underline;
      }
      button {
        width: 75px;
        height: 35px;
        border-radius: 10px;
        background-color: $colorBtn;
        border: none;
        &:hover {
          background-color: $colorBtn;
        }
      }
    }
    &--delete:hover {
      color: rgb(216, 215, 215);
    }

  }
}
@media only screen and (max-width : 768px) and (min-width : 601px) {
  .cart {
    .tableContainer {
      width: 100%;
    }
    .totalCost__container {
      width: 55%;
      margin: 0 auto;
      .totalCost {
        margin: 1.5rem auto 0;
      }
    }
  }
}
@media only screen and (min-width : 769px) {
  .cart {
    .tableContainer {
      width: 60%;
    }
    .totalCost__container {
      width: 30%;
      .totalCost {
        margin: 3rem auto 0;
      }
    }
  }
}
@media only screen and (max-width : 600px) {
  .totalCost__container {
    width: 100%;
    .totalCost {
      margin: 1.5rem auto 0;
    }
  }
}
.orderContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  .order {
    transform: translateY(4rem);
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 2rem;
    position: relative;
    border-radius: .5rem;
    .orderTitle {
      position: absolute;
      right: 50%;
      top: 0;
      transform: translate(50%,-50%);
      color: #fff;
      font-weight: normal;
      border-radius: .2rem;
      background: linear-gradient(to right,#A945BB,#9026AB);
      width: 95%;
      padding: 1.5rem 1rem;
      text-align: left;
      h2 {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
      }
    }
    form {
      margin-top: 1rem;
    }
    button {
      height: 38px;
      color: #fff;
      background-color: $colorBtn !important;
      border: none;
    }
    button:hover {
      background-color:  #c268d9 !important;
    }
    a {
      position: absolute;
      font-size: 1rem;
      background-color:$colorBtn !important;
      padding: 9.5px 10px;
      color: #fff;
      border-radius: 5px;
      margin-left: 10px;
    }
    a:hover {
      background-color:  #c268d9 !important;
      text-decoration: none;
      color: #fff;
    }
  }
}
