.drawal-money {
  margin-top: 2rem;
  height: 100%;
  table, tr, th, td {
    border-collapse: collapse;
    th, td {
      padding: 25px;
      text-align: center;
    }
  }
  table {
    border: solid 1px #D5DDE6;
    border-collapse: separate;
    border-radius: .2rem;
  }
  &__number {
    font-weight: 600;
    font-size:20px
  }
  &__button {
    button {
      font-size: 1rem;
      border-radius: .5rem;
      margin-top: 20px;
      height: 40px;
    }
  }
  &__confirm {
    text-align: center;
    margin-top: 30px;
    &--input {
      width: 350px;
      margin-right: 15px;
      border-radius: 10px;
      height: 35px;
      line-height: 35px;
      padding: 0px 10px;
      outline: none;
    }
    &--button {
      border-radius: 10px;
    }
  }
  .drawal-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    .commission {
      padding: 2rem;
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      position: relative;
      border-radius: .15rem;
      height: 10rem;
      margin-bottom: 2rem;
      .commissionText {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #a09f9f;
        font-size: 1rem;
        text-align: right;
      }
      .commissionNumber {
        color: #555;
        position: absolute;
        top: 3rem;
        right: 1rem;
        font-weight: bold;
        font-size: 2rem;
        text-align: right;
      }
      .moneyIcon {
        position: absolute;
        background-color: #1CAFAD;
        padding: 1rem;
        top: -1rem;
        left: 1rem;
        z-index: 2;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: .2rem;
        font-size: 3rem;
        color: #fff;
        width: 6rem;
        height: 6rem;
        i {
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%,-50%);        
        }
      }
    }
    .ballance {
      padding: 2rem;
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      position: relative;
      border-radius: .15rem;
      height: 10rem;
      .ballanceIcon {
        position: absolute;
        background-color: #FCC56E;
        padding: 1rem;
        top: -1rem;
        left: 1rem;
        z-index: 2;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        border-radius: .2rem;
        font-size: 3rem;
        color: #fff;
        width: 6rem;
        height: 6rem;
        i {
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%,-50%);        
        }
      }
      .ballanceText {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #a09f9f;
        font-size: 1rem;
        text-align: right;
      }
      .ballanceNumber {
        color: #555;
        position: absolute;
        top: 3rem;
        right: 1rem;
        font-weight: bold;
        font-size: 2rem;
        text-align: right;
      }
    }
  
  }
  .drawal-money__button {
    text-align: center;
    button {
      margin: 0 auto;
      background-color: #9026AB;
      color: #fff;
      padding: 0.5rem 2rem;
    }
    button:hover {
      background-color: #c268d9;
    }
  }
}
@media only screen and (min-device-width : 1024px) {
  .drawal-container {
    .commission {
      width: 30%;
      margin-right: 4rem;
      .commissionText {
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
      }
      .commissionNumber {
        top: 3rem;
        right: 1rem;
        font-size: 2rem;
      }
      .moneyIcon {
        padding: 1rem;
        top: -1rem;
        left: 1rem;
        font-size: 3rem;
      }
    }
    .ballance {
      width: 30%;
      padding: 2rem;
      margin-right: 1rem;
      border-radius: .15rem;
      .ballanceIcon {
        padding: 1rem;
        top: -1rem;
        left: 1rem;
      }
      .ballanceText {
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
      }
      .ballanceNumber {
        top: 3rem;
        right: 1rem;
        font-size: 2rem;
      }
    }
  
  }
  .drawal-money__button {
    margin-top: 2rem;
    button {
      margin: 0 auto;
      padding: 0.5rem 2rem;
    }
  }
}
@media only screen and (max-device-width : 1024px) {
  .drawal-container {
    width: 100%;
    .commission {
      width: 100%;
      margin-right: 0;
    }
    .ballance {
      width: 100%;
      margin-right: 0;
    }
  }
  .drawal-money__button {
    margin-top: 2rem;
    button {
      margin: 0 auto;
      padding: 0.5rem 2rem;
    }
  }
}
