.myMenu {
  width: 20%;
  -webkit-box-shadow: 8px 9px 15px #ccc;
          box-shadow: 8px 9px 15px #ccc;
  height: auto;
}

.mainContainer {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.leftSidebar {
  width: 100%;
  background-color: grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.rightContainer {
  position: relative;
  width: 75%;
  background-color: gainsboro;
}

.homePage {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.leftSidebar hr {
  margin: 0 .5rem;
  border: none;
  height: 1px;
  width: 85%;
  color: gainsboro;
}

.menusub {
  text-transform: uppercase;
  color: #fff;
  font-size: .75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menusub-title {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .5rem 0;
}

.menusub-title p {
  display: inline-block;
}

.menusub-title i:last-child {
  float: right;
}

.menusub-list {
  display: none;
  visibility: hidden;
  line-height: 2rem;
  background-color: #812399;
}

.menusub-list a {
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
}

.menusub-list li:hover {
  color: #812399;
  background-color: #fff;
}

.menusub-list li:hover a {
  color: #812399;
}

.userDashboard {
  padding: .5rem 0;
}

.userDashboard a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.menusub:hover {
  cursor: pointer;
  background-color: #812399;
}

.menusub:hover .menusub-list {
  visibility: visible;
  display: block;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .myMenu {
    visibility: visible;
    display: block;
  }
  .menusub p {
    font-size: .5rem;
  }
  .menusub-list a {
    font-size: .5rem;
  }
  .menusub-title i {
    font-size: .5rem;
    height: 1rem;
    line-height: 1rem;
  }
  .menusub-title {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .userDashboard a {
    margin-left: .5rem;
  }
}

@media only screen and (max-device-width: 1024px) {
  .myMenu {
    top: 112px;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 40%;
    visibility: hidden;
    display: none;
  }
  .menusub {
    margin-top: 0;
    margin-bottom: 0;
  }
  .menusub p {
    font-size: 1rem;
  }
  .menusub-list a {
    font-size: 1rem;
  }
  .menusub-title i {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
  .menusub-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .userDashboard a {
    margin-left: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 768px) {
  .menusub p {
    font-size: 1rem;
  }
  .menusub-list a {
    font-size: 1rem;
  }
  .menusub-title i {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
  .menusub-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .userDashboard a {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .myMenu {
    width: 50%;
  }
  .menusub p {
    font-size: .75rem;
  }
  .menusub-list a {
    font-size: .75rem;
  }
  .menusub-title i {
    font-size: .75rem;
    height: .75rem;
    line-height: .75rem;
  }
  .menusub-title {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .userDashboard a {
    margin-left: .5rem;
    font-size: .75rem;
  }
}
/*# sourceMappingURL=menu.css.map */