.productItem {
  margin-left: 20px;
  z-index: -1;
  text-align: center;
  .ant-card-bordered {
    border-radius: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto;
    margin-top: 14px;
  }
  &__footer {
    &--title {
      color: #f9b72f;
      font-size: 15px;
    }
    &--price {
      color: #f9b72f;
      font-size: 17px;
      font-weight: 600;
      margin: 10px 0px;
    }
    &--addCart {
      button {
        background-color: #f9b72f;
        border-radius: 10px;
        color: #fff;
        font-size: 15px;
        width: 90%;
        height: 35px;
        &:hover {
          background-color: #ffcf6f;
        }
      }
    }
  }
}
