.historyDrawal__container {
    position: relative;
    background-color: #fff;
    margin: 4rem 2rem 0 1rem;
    border-radius: .5rem;
    width: 95%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
